<h4 class="toh-mb-18">Passenger Flag Number</h4>
<div style="padding-left: 60px; padding-right: 60px;">
  <div class="toh-mb-18">
    <div class="toh-flag-mockup uk-align-center">
      <div id="flagNumberText" class="toh-flag-number">
        <% if (OrderInfo.RequestedPassFlagNumber) { %>
          <%= OrderInfo.RequestedPassFlagNumber %> 
        <% } else { %>
          <% if (OrderInfo.PassFlagNum === 0) { %>
            ?
          <% } else { %>
            <%= OrderInfo.PassFlagNum %> 
          <% } %>
        <% } %>
      </div> 
    </div>
  </div>
  <% if(OrderInfo.PassFlagNum > 10 && !OrderInfo.RequestedPassFlagNumber) { %>
    <div id="keepExistingFlagNumSection">
      <p>Would you like to keep this flag number again for next year?</p>
      <button type="button" id="chooseAnotherFlagNumPassenger" class="uk-button uk-button-primary uk-buttom-small button-rounded chooseAnotherFlagNum" data-whoami="passenger" data-userid="<%= OrderInfo.PassUserID %>">No</button>
      <button type="button" id="keepExistingFlagNumPassenger" class="uk-button uk-button-primary uk-buttom-small button-rounded keepExistingFlagNum" data-whoami="passenger" data-orderid="<%= OrderInfo.id %>" data-userid="<%= OrderInfo.PassUserID %>" data-existingflagnumber="<%= OrderInfo.PassFlagNum %>">Yes</button>
    </div>
  <% } else { %>
    <% if(User.FlagNumber >= 1 && User.FlagNumber <= 10) { %>
      <p>You currently have a reserved Flag Number. Please click the button below to choose a flag number.</p>
      <button type="button" id="chooseAnotherFlagNumPassenger" class="uk-button uk-button-primary uk-buttom-small button-rounded chooseAnotherFlagNum" data-whoami="passenger" data-orderid="<%= OrderInfo.id %>" data-userid="<%= OrderInfo.PassUserID %>">No</button>
      <% } %>
    <% if(OrderInfo.PassFlagNum == 0) { %>
      <p>Welcome to the rally! Please click the button below to choose a flag number.</p>
      <button type="button" id="chooseAnotherFlagNumPassenger" class="uk-button uk-button-primary uk-buttom-small button-rounded chooseAnotherFlagNum" data-whoami="passenger" data-orderid="<%= OrderInfo.id %>" data-userid="<%= OrderInfo.PassUserID %>">Choose Flag Number</button>      
    <% } %>
  <% } %>
  <div class="toh-mt-18 hide-me" id="flagAssignedPassenger">
    <span style="color:green" uk-tooltip="Flag number has been locked in."><i class="fas fa-check fa-10x"></i></span> 
  </div>
  <% if (OrderInfo.RequestedPassFlagNumber) { %>
    <div>
      <p>You have already chosen your flag number. If you need to make a change, please reach out to support.</p>
    </div>
    <div class="toh-mt-18" id="flagAssignedPassenger">
      <span style="color:green" uk-tooltip="Flag number has been locked in."><i class="fas fa-check fa-10x"></i></span> 
    </div>
  <% } %>
</div>