<h3 class="toh-mb-18">Passenger Flag Number <% if (OrderInfo.RequestedPassFlagNumber) { %><span id="flagAssignedRider" style="color:green" uk-tooltip="Flag number has been locked in."><i class="fas fa-check fa-lg"></i><% } %></span></h3>
<div style="padding-left: 60px; padding-right: 60px;">
  <div class="toh-mb-18">
    <div class="toh-flag-mockup uk-align-center">
      <div id="flagNumberText" class="toh-flag-number">
        <% if (OrderInfo.RequestedPassFlagNumber) { %>
          <%= OrderInfo.RequestedPassFlagNumber %> 
        <% } else { %>
          <% if (OrderInfo.PassFlagNum === 0 || !OrderInfo.PassFlagNum ) { %>
            ?
          <% } else { %>
            <%= OrderInfo.PassFlagNum %> 
          <% } %>
        <% } %>
      </div> 
    </div>
  </div>
  <% if(OrderInfo.PassFlagNum > 10 && !OrderInfo.RequestedPassFlagNumber) { %>
    <div id="keepExistingFlagNumSection">
      <p>Would you like to keep this flag number again for next year?</p>
      <button type="button" id="chooseFlagNumPassenger" class="uk-button uk-button-primary uk-buttom-small button-rounded chooseFlagNum" data-whoami="passenger" data-userid="<%= OrderInfo.PassUserID %>">No</button>
      <button type="button" id="keepExistingFlagNumPassenger" class="uk-button uk-button-primary uk-buttom-small button-rounded keepExistingFlagNum" data-whoami="passenger" data-orderid="<%= OrderInfo.id %>" data-userid="<%= OrderInfo.PassUserID %>" data-existingflagnumber="<%= OrderInfo.PassFlagNum %>">Yes</button>
    </div>
  <% } else { %>
    <% if(OrderInfo.PassFlagNum >= 1 && OrderInfo.PassFlagNum <= 10) { %>
      <p>You currently have a reserved Flag Number. Please click the button below to choose a flag number.</p>
      <button type="button" id="chooseFlagNumPassenger" class="uk-button uk-button-primary uk-buttom-small button-rounded chooseFlagNum" data-whoami="passenger" data-orderid="<%= OrderInfo.id %>" data-userid="<%= OrderInfo.PassUserID %>">No</button>
      <% } %>
    <% if(!OrderInfo.RequestedPassFlagNumber && (OrderInfo.PassFlagNum == 0 || !OrderInfo.PassFlagNum)) { %>
      <p>Welcome to the rally! Please click the button below to choose a flag number.</p>
      <button type="button" id="chooseFlagNumPassenger" class="uk-button uk-button-primary uk-buttom-small button-rounded chooseFlagNum" data-whoami="passenger" data-orderid="<%= OrderInfo.id %>" data-userid="<%= OrderInfo.PassUserID %>">Choose Flag Number</button>      
    <% } %>
  <% } %>
  <% if (OrderInfo.RequestedPassFlagNumber) { %>
    <div>
      <p>Your flag number choice has been confirmed. If you need to make a change, please reach out to support.</p>
    </div>
  <% } %>
</div>