<h4 class="toh-mb-18">Rider Flag Number <% if (OrderInfo.RequestedRiderFlagNumber) { %><span id="flagAssignedRider" style="color:green" uk-tooltip="Flag number has been locked in."><i class="fas fa-check fa-lg"></i><% } %></span></h4>
<div style="padding-left: 60px; padding-right: 60px;">
  <div class="toh-mb-18">
    <div class="toh-flag-mockup uk-align-center">
      <div id="flagNumberText" class="toh-flag-number">
        <% if (OrderInfo.RequestedRiderFlagNumber) { %>
          <%= OrderInfo.RequestedRiderFlagNumber %> 
        <% } else { %>
          <% if (User.FlagNumber === 0) { %>
            ?
          <% } else { %>
            <%= User.FlagNumber %> 
          <% } %>
        <% } %>
      </div> 
    </div>
  </div>
  <% if(User.FlagNumber > 10 && !OrderInfo.RequestedRiderFlagNumber) { %>
    <div id="keepExistingFlagNumSection">
      <p>Would you like to keep this flag number again for next year?</p>
      <button type="button" id="chooseFlagNumRider" class="uk-button uk-button-primary uk-buttom-small button-rounded chooseFlagNum" data-whoami="rider" data-userid="<%= User.id %>">No</button>
      <button type="button" id="keepExistingFlagNumRider" class="uk-button uk-button-primary uk-buttom-small button-rounded keepExistingFlagNum" data-whoami="rider" data-orderid="<%= OrderInfo.id %>" data-userid="<%= User.id %>" data-existingflagnumber="<%= User.FlagNumber %>">Yes</button>
    </div>
  <% } else { %>
    <% if(User.FlagNumber >= 1 && User.FlagNumber <= 10) { %>
      <p>You currently have a reserved Flag Number. Please click the button below to choose a flag number.</p>
      <button type="button" id="chooseFlagNumRider" class="uk-button uk-button-primary uk-buttom-small button-rounded chooseFlagNum" data-whoami="rider" data-orderid="<%= OrderInfo.id %>" data-userid="<%= OrderInfo.UserID %>">Choose Flag Number</button>
    <% } %>
    <% if(User.FlagNumber == 0 && !OrderInfo.RequestedRiderFlagNumber) { %>
      <p>Welcome to the rally! Please click the button below to choose a flag number.</p>
      <button type="button" id="chooseFlagNumRider" class="uk-button uk-button-primary uk-buttom-small button-rounded chooseFlagNum" data-whoami="rider" data-orderid="<%= OrderInfo.id %>" data-userid="<%= OrderInfo.UserID %>">Choose Flag Number</button>
    <% } %>
  <% } %>
  <% if (OrderInfo.RequestedRiderFlagNumber) { %>
    <p>Your flag number choice has been confirmed. If you need to make a change, please reach out to support.</p>
  <% } %>
</div>