<!-- Desktop Navigation (Auth) -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav class="uk-navbar-container" uk-navbar="mode: click" id="master-topnav" <%- envIsTest ? 'style="background-color: rgba(245, 75, 75, 0.708) !important"' : envIsDev ? 'style="background-color: coral !important"' : ''%>>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo uk-hidden@s" href="/memorials">TOH</a>
      <a class="uk-navbar-item uk-logo uk-visible@s" href="/memorials"><img class="toh-logo" src="/images/toh_logo.png"></a>
      <ul class="uk-navbar-nav uk-visible@m">
        <% if(User.isAdmin) { %>
          <li>
            <a href="#">Admin</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/admin">Admin Tools</a></li>
                <li><a href="/scoring">Scoring Dashboard</a></li>
                <li><a href="/scored">Scored Submissions</a></li>
                <li><a href="/scored-prior">Prior Submissions</a></li>
              </ul>
            </div>
          </li>
        <% } %>
        <% if(User.FlagNumber) { %>
          <li>
            <a href="#">Tour Data</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/memorials">Memorials</a></li>
                <li><a href="/trophies">Trophy Statuses</a></li>
                <li><a href="/awards">Awards Earned</a></li>
                <!-- <li><a href="/livefeed">Live Feed</a></li>
                <li><a href="/stats">Stats</a></li> -->
              </ul>
            </div>
          </li>
        <% } else { %>
          <li><a href="/memorials">Memorials</a></li>
          <!-- <li>
            <a href="#">Tour Data</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/memorials">Memorials</a></li>
                <li><a href="/livefeed">Live Feed</a></li>
              </ul>
            </div>
          </li> -->
        <% } %>
        <li><a href="/riders">Riders List</a></li>
        <!-- <li>
          <a href="#">More</a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a href="/faqs">FAQs</a></li>
              <li><a href="/rules">Rules</a></li>
            </ul>
          </div>
        </li> -->
        <li><a href="/registration">2025 Registration</a></li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <!-- <a href="/login" class="uk-hidden@m hidden-link"><i class="fa-light fa-arrow-right-to-bracket fa-lg"></i></a> -->
      <a href="#mobilenav" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #mobilenav"></a>
      <div class="uk-text-right">
        <%= User.FirstName %>&nbsp;<%= User.LastName %>&nbsp;<i class="fa-light fa-circle-user fa-1x"></i><br />
        <%= User.Email %>&nbsp;<i class="fa-light fa-envelope fa-1x"></i>
      </div>
      <ul class="uk-navbar-nav uk-visible@m">
        <li>
          <a href="#"><span class="toh-label toh-rider-flag"><%= User.FlagNumber %></span></a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li><a href="/user-profile" class="hidden-link">Profile</a></li>
              <li><a href="/changelog" class="hidden-link">Changelog</a></li>
              <li class="uk-nav-divider"></li>
              <li id="topnavLogout" class="hidden-link"><a href="/logout" class="hidden-link">Logout&nbsp;<span class="fa-light fa-arrow-right-from-bracket fa-lg"></span></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <hr style="color: black;">
</div>

<!-- Mobile Navigation -->
<div id="mobilenav" uk-offcanvas="flip: true" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav">
      <% if(User.isAdmin) { %>
        <li class="uk-parent">
          <a href="#">Admin</a>
          <ul class="uk-nav-sub">
            <li><a href="/admin">Admin Tools</a></li>
            <li><a href="/scoring">Scoring Dashboard</a></li>
            <li><a href="/scored">Scored Submissions</a></li>
            <li><a href="/scored-prior">Prior Submissions</a></li>
          </ul>
        </li>
      <% } %>
      <% if(User.FlagNumber) { %>
        <li class="uk-parent">
          <a href="#">Tour Data</a>
          <ul class="uk-nav-sub">
            <li><a href="/memorials">Memorials</a></li>
            <li><a href="/trophies">Trophy Statuses</a></li>
            <!-- <li><a href="/livefeed">Live Feed</a></li> -->
            <!-- <li><a href="/stats">Stats</a></li> -->
          </ul>
        </li>
      <% } else { %>
        <li class="uk-parent">
          <a href="#">Tour Data</a>
          <ul class="uk-nav-sub">
            <li><a href="/memorials">Memorials</a></li>
            <li><a href="/trophies">Trophy Statuses</a></li>
            <!-- <li><a href="/livefeed">Live Feed</a></li> -->
          </ul>
        </li>
      <% } %>
      <li class="uk-parent">
        <a href="#"><i class="fa-light fa-circle-user fa-lg"></i></a>
        <ul class="uk-nav-sub">
          <li><a href="/user-profile">Profile</a></li>
          <li><a href="/changelog">Changelog</a></li>
          <li id="topnavLogout"><a href="/logout">Logout&nbsp;<span class="fa-light fa-arrow-right-from-bracket fa-lg"></span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
