<div>
  <div class="uk-align-center uk-text-center">

    <% if (!OrderInfo.OrderNumber) { %>
    <h2 class="toh-mb-18">Payment</h2>
      <div id="shopifyPaymentContainer">
        <div class="uk-width-1-1@s uk-text-center">
          <p>
            Your total is <strong>$<%= TotalOrderCost[0].Price %></strong>. Please click the button below to pay via the Tour of Honor Store.<br />
            This will open a new tab or window. When complete, please come back to this page to continue.
          </p>
        </div>
        <div id="shopifyPaymentButtonContainer" class="uk-width-1-1@s uk-text-center">
          <label class="uk-form-label" for="goToPayment">&nbsp;</label>
          <button type="button" id="goToPayment" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">Checkout Now</button>
        </div>
        <div class="forceOrderUpdateContainer">
          <p class="toh-mt-18">&nbsp;<span class="noOrderFoundText hide-me">No order was found.</span></p>
          <p class="forceOrderUpdateText">
            If you are seeing this message after paying, you may <a class="checkForOrderNumber" href="#" data-userid="<%= User.id %>">click here</a> to have the system check for your order again.<br /> 
            If that does not work, please <a href="mailto:dave.brooks@tourofhonor.com">contact Dave</a> and include your Order Number.
          </p>
        </div>
      </div>
    <% } %>
    <!-- Order complete for automobile -->
    <% if (OrderInfo.OrderNumber && RiderBikeInfo[0].make_id == 99) { %>
    <h2 class="toh-mb-18">Payment Complete</h2>
      <p>Thank you for your order. Please click the button below to continue registering.</p>
      <label class="uk-form-label" for="goToSummaryAutoBtn">&nbsp;</label>
      <button type="button" id="goToSummaryAutoBtn" class="uk-button uk-button-primary button-rounded goToSummaryButton" data-orderid="<%= OrderInfo.id %>" data-userid="<%= User.id %>" data-whoami="rider" >Continue to Summary</button>
    <% } %>
    <!-- Order complete for motorcycle -->
    <% if (OrderInfo.OrderNumber && RiderBikeInfo[0].make_id !== 99) { %>
      <h2 class="toh-mb-18">Payment Complete</h2>
        <p>Thank you for your order. Please click the button below to continue registering.</p>
        <label class="uk-form-label" for="goToFlagNumBtn1">&nbsp;</label>
        <button type="button" id="goToFlagNumBtn1" class="uk-button uk-button-primary button-rounded goToFlagNumberButton" data-userid="<%= User.id %>">Continue to Flag Number Selection</button>
      <% } %>

    <div id="awaitingShopifyContent" class="uk-width-1-1@s uk-text-center hide-me">
      <!-- awaiting Shopify Content for Automobile -->
      <% if (!OrderInfo.OrderNumber && RiderBikeInfo[0].make_id == 99) { %>
        <p>Shopify Checkout has opened in another tab or window. <br/>Once you have completed payment, please come back here and click "Continue to Summary" below to proceed with your registration.</p>
        <label class="uk-form-label" for="goToSummaryAutoBtn">&nbsp;</label>
        <button type="button" id="goToSummaryAutoBtn" class="uk-button uk-button-primary button-rounded goToSummaryButton" data-userid="<%= User.id %>">Continue to Summary</button>
        <p>If you do not see another tab or accidentally closed it out before paying, you may click the button below to re-open it. <br />Note that if you have a pop-up blocker on, you may need to disable it for our site.</p>
        <label class="uk-form-label" for="goToPayment2">&nbsp;</label>
        <button type="button" id="goToPayment2" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">Continue to Payment</button>
      <% } %>
      <!-- awaiting Shopify Content for Motorcycles -->
      <% if (!OrderInfo.OrderNumber && RiderBikeInfo[0].make_id !== 99) { %>
        <p>Shopify Checkout has opened in another tab or window. <br/>Once you have completed payment, please come back here and click "Continue to Flag Number Selection" below to proceed with your registration.</p>
        <label class="uk-form-label" for="goToWaiverBtn2">&nbsp;</label>
        <button type="button" id="goToFlagNumBtn2" class="uk-button uk-button-primary button-rounded goToFlagNumberButton" data-userid="<%= User.id %>">Continue to Flag Number Selection</button>
        <p>If you do not see another tab or accidentally closed it out before paying, you may click the button below to re-open it. <br />Note that if you have a pop-up blocker on, you may need to disable it for our site.</p>
        <label class="uk-form-label" for="goToPayment2">&nbsp;</label>
        <button type="button" id="goToPayment2" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">Continue to Payment</button>
      <% } %>

    </div>

    <div id="orderNumberMissing" class="uk-width-1-1@s uk-text-center hide-me">
      <% if (RiderBikeInfo[0].make_id == 99) { %>
        <p>
          Our records do not show a successful payment yet. If you just paid, please wait 2-3 minutes and then click Continue to Summary again.<br /> 
          If you have not paid yet, you may click the Continue to Payment button to complete your purchase.
        </p>
        <label class="uk-form-label" for="goToSummaryAutoBtn">&nbsp;</label>
        <button type="button" id="goToSummaryAutoBtn" class="uk-button uk-button-primary button-rounded goToSummaryButton" data-userid="<%= User.id %>">Continue to Summary</button>
        <label class="uk-form-label" for="goToPayment3">&nbsp;</label>
        <button type="button" id="goToPayment3" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">Continue to Payment</button>
      <% } %>
      <% if (RiderBikeInfo[0].make_id !== 99) { %>
        <p>
          Our records do not show a successful payment yet. If you just paid, please wait 2-3 minutes and then click Continue to Flag Number Selection again.<br /> 
          If you have not paid yet, you may click the Continue to Payment button to complete your purchase.
        </p>
        <label class="uk-form-label" for="goToWaiver2">&nbsp;</label>
        <button type="button" id="goToWaiver2" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">Continue to Flag Number Selection</button>
        <label class="uk-form-label" for="goToPayment3">&nbsp;</label>
        <button type="button" id="goToPayment3" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">Continue to Payment</button>
      <% } %>
    </div>
  </div>
  <!-- This is the Payment Warning modal -->
  <div id="shopifyWarningModal" class="modal">
    <%- include('../../partials/shopifyWarningModal'); %>
  </div>
</div>
