<div>
  <h2 class="toh-mb-18">Rider Info</h2>
  <div style="padding-left: 60px; padding-right: 60px;">
    <% if(activeUser) { %>
      <div class="toh-mb-18">
        <%= User.FirstName %>&nbsp;<%= User.LastName %><br />
        <% if(User.Address1) { %>
          <%= User.Address1 %> <br />
        <% } else { %>
          <i>Address Needed</i> <br />
        <% } %>
        <%= User.City %>, <%= User.State %>&nbsp;<%= User.ZipCode %> <br />
        <%= User.Email %> <br />
        <% if(User.CellNumber) { %>
          <%= User.CellNumber %> <br />
        <% } else { %>
          <i>(XXX) XXX-XXXX</i> <br />
        <% } %>
        <%= User.TimeZoneLong %> Time Zone <br />
      </div>
      <div class="toh-mb-18">
        <% if(!User.Address1) { %>
          It appears we do not have your full mailing address. Please click the button below to update your address. <br />
          <button type="button" id="setAddressButton" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">Set Address</button>
        <% } else { %>
          Please confirm that the information above is correct. All shipping and correspondence will be sent to these addresses. <br />
          <button type="button" id="addressIsCorrectNo" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">No, Needs Updating</button>
          <button type="button" id="addressIsCorrectYes" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">Yes, Looks Good</button>
        <% } %>
      </div>
    <% } %>
    <% if(!activeUser) { %>
      <p>You are not logged in. If you particpated in the 2022 Rally, please <a href="/login">login</a> before proceeding.</p>
    <% } %>
    <div id="setAddressModal" class="modal">
      <%- include('../../partials/editAddressModal'); %>
    </div>
  </div>
</div>
