<div>
  <h4>Registration Complete</h4>
  <div class="toh-mt-24">
    <p>
      Thank you for your support! Below is a summary of your order. If you see an error or need to make a change, please send an email to <a href="mailto:dave.brooks@tourofhonor.com">orders@tourofhonor.com</a>
    </p>
    <p>
      Your order number is <span class="dataValueBold"><%= OrderInfo.OrderNumber %></span>. 
      You registered for the <span class="dataValueBold"><%= OrderInfo.RallyYear %></span> 
      Tour of Honor as a <span class="dataValueBold"><% if (OrderInfo.RequestedPassFlagNumber) { %> solo rider<% } else { %> rider & passenger<% } %></span> 
      and your flag number will be <span class="dataValueBold"><%= OrderInfo.RequestedRiderFlagNumber %></span>. 
      This order includes a <span class="dataValueBold"><%= OrderInfo.ShirtSize %> <%= OrderInfo.ShirtStyle %></span>.
    </p>
    <h5>Additional Items</h5>
    <p>Below you will find a selection of items vailable on the official <a href="https://shop.tourofhonor.com" target="_blank">Tour of Honor Shop</a>. If you order before February 1st your items will come with your registration packet (with the exception of any customized items).</p>
    <div class="uk-flex-center toh-mt-18" uk-grid>
      <div class="uk-width-1-4@s">
        <%- include('../buyButtons/pokerChips') %>
      </div>
      <div class="uk-width-1-4@s">
        <%- include('../buyButtons/customPokerChips') %>
      </div>
      <div class="uk-width-1-4@s">
        <%- include('../buyButtons/stickers') %>
      </div>
      <div class="uk-width-1-4@s">
        <%- include('../buyButtons/challengeCoins') %>
      </div>
    </div>
  </div>
</div>