<div>
  <h4>Registration Complete</h4>
  <div class="toh-mt-24">
    <p>
      Thank you for your support! Below is a summary of your order. If you see an error or need to make a change, please send an email to <a href="mailto:dave.brooks@tourofhonor.com">orders@tourofhonor.com</a>
    </p>
    <p>
      Your order number is <span class="dataValueBold"><%= OrderInfo.OrderNumber %></span>. 
      You registered for the <span class="dataValueBold"><%= OrderInfo.RallyYear %></span> 
      Tour of Honor as a <span class="dataValueBold"><% if (OrderInfo.RequestedPassFlagNumber) { %> solo rider<% } else { %> rider & passenger<% } %></span> 
      and your flag number will be <span class="dataValueBold"><%= OrderInfo.RequestedRiderFlagNumber %></span>. 
      This order includes a <span class="dataValueBold"><%= OrderInfo.ShirtSize %> <%= OrderInfo.ShirtStyle %></span>.
    </p>
    <h5>Additional Items</h5>
    <p>
      If you wish to order additional shirts, you can order them by clicking View Product buttons below. If you order before February 1st they will come with your registration packet. For other items in the Tour 
      of Honor store, you can check them out <a href="https://shop.tourofhonor.com" target="_blank">here</a>.
    </p>
    <div class="uk-flex-center toh-mt-18" uk-grid>
      <div class="uk-width-1-4@s">
        <%- include('../buyButtons/additionalShirts') %>
      </div>
      <div class="uk-width-1-4@s">
        <%- include('../buyButtons/rideToMeet') %>
      </div>
      <div class="uk-width-1-4@s">
        <%- include('../buyButtons/additionalCharity') %>
      </div>
      <div class="uk-width-1-4@s">
        <%- include('../buyButtons/customPokerChips') %>
      </div>
    </div>
  </div>
</div>