<div>
  <h2>Registration Complete</h2>
  <div class="toh-mt-24">
    <p>
      Thank you for your support, <%= OrderInfo.RiderFirstName %>! Below is a summary of your order. If you see an error or need to make a change, please send an email to <a href="mailto:dave.brooks@tourofhonor.com">orders@tourofhonor.com</a>
    </p>
    <p>
      Your order number is <span class="dataValueBold"><%= OrderInfo.OrderNumber %></span>. 
      You have successfully registered for the <span class="dataValueBold"><%= OrderInfo.RallyYear %></span> Tour of Honor as a 
      <% if (OrderInfo.RequestedPassFlagNumber && OrderInfo.RequestedPassFlagNumber > 0) { %>
        <span class="dataValueBold"> rider & passenger</span>. Your flag number will be <span class="dataValueBold"><%= OrderInfo.RequestedRiderFlagNumber %></span> 
        and <span class="dataValueBold"><%= OrderInfo.PassengerName %>'s</span> flag number will be <span class="dataValueBold"><%= OrderInfo.RequestedPassFlagNumber %></span>.
      <% } else { %>
        <span class="dataValueBold"> solo rider</span>. Your flag number will be <span class="dataValueBold"><%= OrderInfo.RequestedRiderFlagNumber %></span>.
      <% } %>
      <% if (OrderInfo.applyFlagSurcharge > 0) { %>
        Your order contained <span class="dataValueBold"> <%= OrderInfo.applyFlagSurcharge %> custom <%= OrderInfo.applyFlagSurcharge > 1 ? `flags` : `flag` %></span>.
      <% } %>
    </p><p>
      You chose to support <span class="dataValueBold"><%= OrderInfo.CharityName %></span>
    </p>
    <h5>Additional Items</h5>
    <p>
      If you wish to order T-shirts, you can order them in the <a href="https://shop.tourofhonor.com" target="_blank">Tour of Honor store</a>.
    </p>
    <div class="uk-flex-center toh-mt-18" uk-grid>
      <div class="uk-width-1-4@s">
        <%- include('../buyButtons/additionalShirts') %>
      </div>
      <div class="uk-width-1-4@s">
        <%- include('../buyButtons/rideToMeet') %>
      </div>
      <div class="uk-width-1-4@s">
        <%- include('../buyButtons/additionalCharity') %>
      </div>
      <div class="uk-width-1-4@s">
        <%- include('../buyButtons/customPokerChips') %>
      </div>
    </div>
  </div>
</div>
