<div>
  <h2 class="toh-mb-18">Vehicle Info</h2>
  <div style="padding-left: 60px; padding-right: 60px;">
    <div class="toh-mt-18">
      <% if(RiderBikeInfo.length == 0) { %> 
        <div class="uk-width-1-1@s uk-text-center">
          <p>You don't appear to have a vehicle. Click the appropriate button below to add one.</p>
          <button type="button" id="addNewBikeBtn" class="uk-button uk-button-primary button-rounded">Add New Motorcycle</button><br/><br/>
          <button type="button" id="saveNewAutoBtn" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">I'm Using an Automobile</button>
        </div>
      <% } %>
      <% if(RiderBikeInfo.length > 0 && RiderBikeInfo[0].make_id == 99) { %> 
        <p>We have you marked as using an automobile.</p><p> If this is incorrect, please confirm you are logged in to the correct account. If still incorrect, please send an email to <a href="mailto:support@tourofhonor.com">support@tourofhonor.com</a> and we will assist you.</p>
      <% } %>
      <% if(RiderBikeInfo.length > 0 && RiderBikeInfo[0].make_id < 99) { %> 
        <p>We have the following bike info listed for you. Please update as needed before continuing.</p>
        <div class="uk-align-right toh-mb-0">
          <button type="button" id="addNewBikeBtn" class="uk-button uk-button-primary uk-button-small button-rounded">Add New Bike</button>
        </div>
        <table class="uk-table uk-table-striped uk-table-small" id="riderBikeInfo">
          <thead>
            <tr>
              <th class="uk-text-center">Year</th>
              <th class="uk-text-center">Make</th>
              <th class="uk-text-center">Model</th>
              <th class="uk-text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% RiderBikeInfo.forEach(function(Bike) { %>
              <tr>
                <td>
                  <%= Bike.Year %>
                </td>
                <td>
                  <%= Bike.Make %>
                </td>
                <td>
                  <%= Bike.Model %>
                </td>
                <td>
                  <span class="editBikeInfoBtn clickable" uk-tooltip="Edit Bike" data-bikeid="<%- Bike.id %>"><i class="fa-light fa-pen-to-square fa-lg"></i></span>&nbsp;
                  <span class="deleteBikeBtn clickable" uk-tooltip="Delete Bike" data-bikeid="<%- Bike.id %>"><i class="fa-light fa-trash-can"></i></span>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <div class="uk-align-center">
          <button type="button" id="acceptBikeInfoBtn" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">This Is Accurate</button>
        </div>
      <% } %>
    </div>
  </div>
  <!-- This is the Add New Bike Info modal -->
  <div id="bikeInfoAddModal" class="modal">
    <%- include('../../partials/bikeInfoAddModal'); %>
  </div>
  <!-- This is the Edit Bike Info modal -->
  <div id="bikeInfoEditModal" class="modal">
    <%- include('../../partials/bikeInfoEditModal'); %>
  </div>
</div>
