<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="pageWrapper">
    <% if(activeUser) { %>
      <%- include('../partials/topnavUser'); %>
    <% } else { %>
      <%- include('../partials/topnav'); %>
    <% } %>
    <main>
      <h1>Rally Admin Tool</h1>
      <div class="content" style="font-size: 18px;">
        &nbsp;<br />
        <% if(NotificationText) { %>
          <%- include('../partials/notice'); %>
        <% } %>
        <a href="/admin/alt-entry">Alternate Entries</a><br />
        <a href="/admin/charity-manager">Charity Manager</a><br />
        <a href="/admin/flag-manager">Flag Manager</a><br />
        <a href="/admin/group-management">Group Management</a><br />
        <a href="/admin/memorial-editor2">Memorial Editor</a><br />
        <a href="/admin/orders">Registration Orders</a><br />
        <a href="/admin/rider-management">Rider Management</a><br />
        <a href="/admin/site-config">Site Config</a><br />
        <a href="/admin/trophy-editor">Trophy & Awards Editor</a><br />
        <br />
      </div>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
</body>