<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <h4>Rally Admin Tool</h4>
  <main>
    <% if(NotificationText) { %>
      <%- include('../partials/notice'); %>
    <% } %>
    <a href="/admin/memorial-editor">Memorial Editor</a><br />
    <a href="/admin/memorial-metadata">Memorial Metadata</a><br />
    <a href="/admin/user-management">User Management</a><br />
    <!-- Memorial Metadata<br/> -->
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <script type="text/javascript" src="/js/memorial.js"></script>
</body>

    