<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <main>
    <h4>Rally Admin Tool</h4>
    &nbsp;<br/>
    <% if(NotificationText) { %>
      <%- include('../partials/notice'); %>
    <% } %>
    <a href="/admin/alt-entry">Alternate Entries</a><br />
    <a href="/admin/charity-manager">Charity Manager</a><br />
    <a href="/admin/group-management">Group Management</a><br />
    <a href="/admin/memorial-editor2">Memorial Editor</a><br/>
    <a href="/admin/orders">Registration Orders</a><br />
    <a href="/admin/site-config">Site Config</a><br />
    <a href="/admin/trophy-editor">Trophy & Awards Editor</a><br />
    <a href="/admin/user-management">User Management</a><br />
    <br />
    <a href="/registration">Registration Flow for Riders</a><br />
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <script type="text/javascript" src="/js/memorial.js"></script>
</body>
