<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="pageWrapper">
    <% if(activeUser) { %>
      <%- include('../partials/topnavUser'); %>
    <% } else { %>
      <%- include('../partials/topnav'); %>
    <% } %>
    <main>
      <h1>Change Log</h1>
      <% if(NotificationText) { %>
        <%- include('../../partials/notice'); %>
      <% } %>
      &nbsp;<br/>
      <div class="changes-container" id='tabs'>
        <ul uk-tab>
          <li><a href="#web">Web Portal</a></li>
          <li><a href="#mobile">Android & iPhone Apps</a></li>
        </ul>

        <ul class="uk-switcher uk-margin">
          <!-- Web Portal -->
          <li class="toh-changelog" id="web">
            <h3>23.03.31.657</h3>
            <ul>
              <li>Minor updates to the Submission styling.</li>
              <li>Memorial Sponsors are now shown on the state memorial pages.</li>
              <li>Added an admin button to make the state memorials visible.</li>
              <li>Fixed a bug where users with ZIP+4 couldn't login to the mobile app.</li>
              <li>Misc bug fixes related to it being 2023 now.</li>
            </ul>
            <h3>23.03.06.644</h3>
            <ul>
              <li>Scorer Notes will now be sent to the mobile app.</li>
            </ul>
            <h3>23.03.01.641</h3>
            <ul>
              <li>Held submissions no longer appear in pending.</li>
              <li>Sorting improvements to the Scoring pages.</li>
              <li>Fixes an issue with the Memorial Editor where editing wasn't possible.</li>
              <li>Backend updates to support the mobile app.</li>
            </ul>
            <h3>23.02.25.633</h3>
            <ul>
              <li>Support for the 2023 Mobile App.</li>
              <li>Redesigned the Admin page.</li>
              <li>Submissions page shows the rider's hometown.</li>
              <li>Scored Submissions pages are much, much faster now.</li>
              <li>Removed a bunch of useless logging.</li>
            </ul>
            <h3>23.01.18.511</h3>
            <ul>
              <li>Mobile App now uses an API key to talk to the server.</li>
              <li>API improvements for the mobile app.</li>
              <li>Misc code cleanup.</li>
            </ul>
            <h3>22.12.31.479</h3>
            <ul>
              <li>Admin related changes.</li>
            </ul>
            <h3>22.12.3.466</h3>
            <ul>
              <li>Custom Flag Numbers from 1201 to 2500 can now be chosen. A $30 surcharge applies to these numbers.</li>
              <li>You no longer have to log out and back in when you change user profile info like email, phone number, or time zone.</li>
              <li>Admin side changes for the new Custom Flag Numbers feature.</li>
              <li>Cell Numbers and Time Zones now properly save and display everywhere.</li>
              <li>Corrected the calculators for total donations to each charity.</li>
            </ul>
            <h3>22.12.2.433</h3>
            <ul>
              <li>Re-enabled the "Edit Rider" buton I accidentally disabled in a previous update.</li>
              <li>Made some backend changes to mitigate the possibility of another outage.</li>
            </ul>
            <h3>22.12.1.427</h3>
            <ul>
              <li>New Riders List is available on the top menu now.</li>
              <li>Fixed a bunch of bugs.</li>
              <li>Code cleanup.</li>
            </ul>
            <h3>22.11.30.423</h3>
            <ul>
              <li>Fixed the sorting on some Admin tables.</li>
              <li>Improvements to the Flag Selection screen and related logic.</li>
              <li>Logging improvements.</li>
            </ul>
            <h3>22.11.29.416</h3>
            <ul>
              <li>Scored Memorials page now longer shows duplicate rows and is much faster to load.</li>
            </ul>
            <h3>22.11.28.415</h3>
            <ul>
              <li>Updated the text on the login page to be more clear.</li>
              <li>Added a way for Admins to reassign flag numbers.</li>
              <li>Links to maps should now open in a new tab or window.</li>
              <li>Removed Statue of Liberty data from being visible.</li>
            </ul>
            <h3>22.11.26.407</h3>
            <ul>
              <li>Riders List page is now live and can be viewed by anyone.</li>
              <li>Replaced all the icons to a much smaller subset, making the page load faster.</li>
              <li>Admin related tool improvements.</li>
              <li>Provided a way for Admins to let a rider choose their flag number over again.</li>
            </ul>
            <h3>22.11.21.403</h3>
            <ul>
              <li>The registration summary page now properly summarizes everything.</li>
              <li>Improvements to the Rider Management tool that TOH Admins use.</li>
              <li>Registration Manager now indicates if a rider appears to be brand new to the Tour of Honor.</li>
              <li>The site has some more intelligence about where to take a user once they have logged in.</li>
              <li>So many little bug fixes.</li>
            </ul>
            <h3>22.11.19.393</h3>
            <ul>
              <li>Lots of little registration improvements and bug fixes.</li>
              <li>You can now go back to previously completed steps in the registration process to update info.</li>
              <li>The Payment step how has a alert box to ensure that you know you have to come back to the site ater paying to complete the registration.</li>
              <li>Fixes to the Waiver step.</li>
            </ul>
            <h3>22.11.13.378</h3>
            <ul>
              <li>Completely changes the way that Flag NUmbers are tracked throughout the system. <strong>NOTE:</strong> This update breaks the mobile apps; they will be updated in January.</li>
              <li>Updated the menus to be a little nicer and have a few more options.</li>
              <li>Misc code cleanup.</li>
            </ul>
            <h3>22.11.12.371</h3>
            <ul>
              <li>T-Shirt registration step was completely re-written and is now much more intelligent.</li>
              <li>Improvements and bug fixes for the Flag Number registration step.</li>
              <li>Made things more visually pleasing for me when I am working on the codebase.</li>
            </ul>
            <h3>22.11.8.364</h3>
            <ul>
              <li>Added a public maintenance page for when the site is in maintenace mode.</li>
              <li>Logging improvements.</li>
            </ul>
            <h3>22.10.26.361</h3>
            <ul>
              <li>Reduced the size of the CSS file to improve page load speed.</li>
              <li>Fixed the fonts to display properly.</li>
              <li>Standardized the button appearance throughout the site.</li>
            </ul>
            <h3>22.10.23.354</h3>
            <ul>
              <li>Fixes to the Registration Flow.</li>
              <ul class="toh-m-0">
                <li>Flag Number step was rewritten.</li>
                <li>Summary was rewritten.</li>
              </ul>
              <li>Added the ability to show error messages to the user when something goes wrong.</li>
              <ul class="toh-m-0">
                <li>This will be expanded over the coming weeks.</li>
              </ul>
              <li>A failed login will now show an error message. (how did no one point this out to me last year?!?)</li>
              <ul class="toh-m-0">
                <li>This will be expanded over the coming weeks.</li>
              </ul>
              <li>Added the ability to show a loading indicator when an operation may take a few seconds to process.</li>
            </ul>
            <h3>22.10.9.333</h3>
            <ul>
              <li>Added some special tags that should help password managers work better</li>
              <ul class="toh-m-0">
                <li>Looking for a password manager? Then check out <a href="https://1password.com">1Password</a>, which I have used for almost a decade now.</li>
              </ul>
              <li>User signup now provided confirmation fields for email and password along with labels to indicate if they match or not.</li>
              <li>Improvements to the waiver signing process.</li>
            </ul>
            <h3>22.10.8.329</h3>
            <ul>
              <li>Fixed some bugs related to the new registration process.</li>
              <li>Simplified the logic on the Payment tab to be faster.</li>
              <li>Wording changes to various registration steps.</li>
              <li>Misc bug fixes related to Firefox.</li>
            </ul>
            <h3>22.9.26.318</h3>
            <ul>
              <li>Fixes to the Registration Flow to make things work better in Firefox and Chrome.</li>
              <li>Removed Nickname from Bikes.</li>
              <li>Fixed the footer to actually stick to the bottom of the screen.</li>
              <li>Added a link to this Changelog in the top menu under the User icon.</li>
              <li>Resolved a bug that made Firefox think the registration page was not standards-compliant HTML.</li>
            </ul>
            <h3>22.8.29.304</h3>
            <ul>
              <li>Foundational work for the new and improved registration process.</li>
              <li>You can now manage your bike info on the User Profile.</li>
              <li>Added custom titles to all the pages.</li>
              <li>Admins got some new toys.</li>
              <li>Fixed a bug where auto advance for the scorers was very inconsistent.</li>
              <li>Fixed a bug where URLs for memorials where being forced lowercase, breaking them.</li>
              <li>Various security and stability enhancements.</li>
              <li>Miscellaneous code cleanup.</li>
            </ul>
            <h3>22.7.7.288</h3>
            <ul>
              <li>Images submitted via the web portal are now automatically resized, allowing for much faster uploads.</li>
              <li>User Profile now indicates when a submission is being Held In Review.</li>
              <li>Submitted images now retain their metadata.</li>
              <li>Mobile submissions also have their images resized but currently this only lowers storage requirements, not upload speeds.</li>
              <li>Fixed a bug where mobile submissions had lower quality images than intended.</li>
              <li>Fixed a bug that allowed for duplicate submissions when a submission was Held In Review.</li>
              <li>Miscellaneous code cleanup.</li>
            </ul>
            <h3>22.7.3.285</h3>
            <ul>
              <li>Fixed a bug causing mobile submissions with two images to fail.</li>
            </ul>
            <h3>22.7.2.284</h3>
            <ul>
              <li>Bug fixes for the Memorial Editor that Admins use.</li>
            </ul>
            <h3>22.7.2.283</h3>
            <ul>
              <li>Fixed a bug that caused the 2nd image riders submitted to occasionally not show up in the scoring view.</li>
              <li>All input boxes, dropdown, and buttons have been given a slightly rounded style to give a nicer look and better match the mobile apps.</li>
              <li>A plethora of backend changes to improve server stability and maintainability.</li>
            </ul>
            <h3>22.5.14.281</h3>
            <ul>
              <li>Fixes a bug that prevented submissions with only one image.</li>
              <li>Updated some spelling preferences.</li>
              <li>POTM button was relocated (affects scorers only).</li>
              <li>IBA Rides can now be awarded by the scoring team. (These will be viewable to everyone in the next update, but for now only scorers can see them).</li>
            </ul>
            <h3>22.4.17.276</h3>
            <ul>
              <li>Memorials that are not available are no longer shown in the memorial lists.</li>
            </ul>
            <h3>22.4.16.273</h3>
            <ul>
              <li>Added a new way for admins to view scored submissions that should run faster.</li>
              <li>Added a new memorial editor for the admins that should run faster.</li>
            </ul>
            <h3>22.4.14.269</h3>
            <ul>
              <li>Fixed a bug that was preventing memorials from being edited.</li>
            </ul>
            <h3>22.4.13.266</h3>
            <ul>
              <li>The site now enforces when a memorial requires two images to claim and won't let you submit without two images being selected.</li>
              <li>The Memorial Detail page now shows the same icons as the Mobile Apps for Restrictions and 2-images required.</li>
              <li>Speed enhancements! The site should feel faster overall due to a reduction in reliance on 3rd party servers.</li>
              <li>Scorers can now see if a submission came from website, an iPhone or an Android device.</li>
              <li>Scorers have a method to more easily submit an image for Picture of the Month.</li>
            </ul>
            <h3>22.4.4.254</h3>
            <ul>
              <li>Removed the warning about when the state memorials would be available.</li>
              <li>GPS coordinates can now be clicked on to open up that location in Google Maps.</li>
              <li>In the Scoring Dashboard, on the Submission Details page, the sample image is much harder to accidentally click.</li>
              <li>Also on the Submission Details page, Memorial data is now shown.</li>
            </ul>
            <h3>22.4.1.245</h3>
            <ul>
              <li>Added Trophy Status page. This page will show all the regions and what flag numbers, if any, have earned that trophy.</li>
              <li>Added an admin page for awarding trophies.</li>
              <li>Added this Changelog page.</li>
            </ul>
            <h3>22.3.31.236</h3>
            <ul>
              <li>Preparations for rally start.</li>
              <li>Fixed some minor grammatical errors.</li>
            </ul>
          </li>
          <!-- Mobile Apps -->
          <li class="toh-changelog" id="mobile">
            <h3>3.6.0</h3>
            <ul>
              <li>Dark Mode! The app is now aware if your device is set to dark or light mode and will adjust itself accordingly.</li>
              <li>The reason for a rejection is now visible in the mobile app when viewing the Memorial Detail page.</li>
              <li>Memorial Detail page now only looks at 2023 submissions to show status.</li>
              <li>Improvements to the Profile tab.</li>
            </ul>
            <h3>3.5.2</h3>
            <ul>
              <li>Flag numbers over 1600 can now login.</li>
              <li>Submission history now only shows 2023 submissions.</li>
              <li>Updated the welcome screen image for 2023.</li>
              <li>User Profile tab renamed to Profile.</li>
            </ul>
            <h3>3.5.1</h3>
            <ul>
              <li>Support for the 2023 season</li>
              <li>Submissions status now shows up on the list of memorials.</li>
              <li>Removed the text on the login page that referenced the Welcome Email as it is not longer required.</li>
              <li>Stats tab renamed to History</li>
            </ul>
            <h3>3.4.0</h3>
            <ul>
              <li>Memorial List now shows sample images again.</li>
              <li>Corrected the spelling of Massachusetts.</li>
            </ul>
            <h3>3.3.2</h3>
            <ul>
              <li>Stats page shows submitted date, not last updated date.</li>
              <li>Support for scoring portal to know if submission was from an Android device or an iPhone.</li>
              <li>Changed the text on the login page to make it clear that you have to click on the Welcome Email link before using the app.</li>
            </ul>
            <h3>3.3.0</h3>
            <ul>
              <li>Submit screen now shows that items are being uploaded, and disables the submit button while they are being uploaded to reduce duplicates.</li>
              <li>The keyboard doesn't block the text box anymore so you can actually see what you are typing.</li>
              <li>Tapping on text boxes is easier now, you no longer have to aim for the placeholder text.</li>
              <li>Reduced the size of the uploaded images to make uploading faster.</li>
            </ul>
            <h3>3.2.1</h3>
            <ul>
              <li>When a memorial is submitted and that window disappears, the detail view is now instantly updated with the “pending” status.</li>
              <li>Passenger flag is now shown on the User Profile tab (or if not set, N/A is displayed).</li>
              <li>If a Passenger flag has been set in a user's profile, then the app will detect this and display the “Include Passenger” toggle on the submission page.</li>
              <li>Various other bug fixes and performance enhancements.</li>
            </ul>
          </li>
        </ul>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
</body>
