<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="pageWrapper">
    <%- include('../partials/topnav'); %>
    <main>
      <% if(NotificationText) { %>
        <%- include('../partials/notice'); %>
      <% } %>
      <div class="uk-container-xsmall uk-margin-auto">
        <div class="">
          <h3 class="uk-text-center">Password Reset</h3>
          <% if(TokenValidity[0].Valid == 2) { %>
            <!-- Request Password Reset -->
            <p>To reset your password, please enter your email address below and a link will be sent to your email.</p>
            <form class="signup uk-grid-small uk-form-stacked" uk-grid>
              <div class="uk-width-1-1@s">
                <input class="uk-input" id="Email" type="email" placeholder="Email Address">
              </div>
              <div class="uk-width-1-1@s uk-text-center"><button type="button" id="sendResetLinkButton" class="uk-button uk-button-primary button-rounded">Send Password Reset Link</button></div>
            </form>
          <% } %>
          <% if(TokenValidity[0].Valid == 1) { %>
            <!-- Set new password -->
            <p>Please set a new password below.</p>
            <form class="signup uk-grid-small uk-form-stacked" uk-grid>
              <div class="uk-width-1-1@s">
                <label class="uk-form-label" for="Password">New Password</label>
                <input class="uk-input" id="Password" type="password" placeholder="******">
              </div>
              <div class="uk-width-1-1@s">
                <label class="uk-form-label" for="PasswordConfirm">Confirm New Password</label>
                <input class="uk-input" id="PasswordConfirm" type="password" placeholder="******">
              </div>
              <input id="UserID" type="hidden" value="<%= UserID %>">
              <div class="uk-width-1-1@s uk-text-center"><button type="button" id="resetPasswordButton" class="uk-button uk-button-primary button-rounded">Set New Password</button></div>
            </form>
          <% } %>
          <% if(TokenValidity[0].Valid == 0) { %>
            <!-- Expired or Invalid Token -->
            <p>This request is no longer valid. Please request a new link below.</p>
            <form class="signup uk-grid-small uk-form-stacked" uk-grid>
              <div class="uk-width-1-1@s">
                <input class="uk-input" id="Email" type="email" placeholder="Email Address">
              </div>
              <div class="uk-width-1-1@s uk-text-center"><button type="button" id="sendResetLinkButton" class="uk-button uk-button-primary button-rounded">Send Password Reset Link</button></div>
            </form>
          <% } %>
        </div>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
  <script type="text/javascript" src="/js/forgot-password.js"></script>
</body>