<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <main>
    <% if(NotificationText) { %>
      <%- include('../partials/notice'); %>
    <% } %>
    <h6>ADMIN</h6>
    <a href="/admin/aux-memorial-editor">Auxiliary Memorial Editor</a><br />
    <a href="/admin/state-memorial-editor">State Memorial Editor</a><br />
    <a href="/admin/memorial-metadata">Memorial Metadata</a><br />
    <a href="/admin/user-management">User Management</a><br />
    <h6>USER</h6>
    <a href="/signup">Signup</a><br />
    <a href="/login">Login</a><br />
    <a href="/memorials">Memorials</a><br />
    <a href="/user-profile">User Profile</a><br />
    <a href="/submit">Submit</a><br />
    <h6>PUBLIC</h6>
    <a href="/livefeed">Live Feed</a><br />
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>