<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <h4>MEMORIALS</h4>
  <main>
    <% if(NotificationText) { %>
      <%- include('../partials/notice'); %>
    <% } %>
    <p>Below is a list of every Memorial in the Tour of Honor.</p>
    <p>Note that state memorials will not be visible until April 1, 2022 at 00:01 EST.</p>
    <!-- #region Memorial Table -->
    <table class="uk-table uk-table-striped uk-table-small" id="memorialTable">
      <thead>
        <tr>
          <th>Code</th>
          <th>Category</th>
          <th>Name</th>
          <th>City</th>
          <th>State</th>
          <th>Access</th>
        </tr>
      </thead>
      <tbody>
        <% Memorials.forEach(function(memorial) { %>
          <tr>
            <td>
              <span style="font-family: 'Source Code Pro', monospace;"><a href="/memorial/<%= memorial.Code %>"><%= memorial.Code %></a></span>
            </td>
            <td>
              <%= memorial.CategoryName %>
            </td>
            <td>
              <%= memorial.Name %>
            </td>
            <td>
              <%= memorial.City %>
            </td>
            <td>
              <%= memorial.State %>
            </td>
            <td>
              <%= memorial.Access %>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <!-- #endregion -->
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  <script type="text/javascript" src="/js/memorials.js"></script>
</body>