<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <h4 style="text-align:center"><%= MemorialData[0].Name %> (<%= MemorialData[0].Code %>)</h4>
  <% if(NotificationText) { %>
    <%- include('../partials/notice'); %>
  <% } %>
  <main>
    <div class="uk-child-width-expand@s" uk-grid>
      <div>
        <div class="" uk-grid>
          <img class="sampleImage uk-align-center" src="https://www.tourofhonor.com/2021appimages/<%= MemorialData[0].SampleImage %>">
          <div class="uk-align-center" style="width: 73%; margin-top: 0; margin-bottom: 0;">
            <div class="uk-align-left"><%= MemorialData[0].Code %></div>
            <div class="uk-align-right"><%= MemorialData[0].City %>, <%= MemorialData[0].State %></div>
          </div>
        </div>
        <% if(User.FlagNumber && SubmissionStatus[0].Status >= 2) { %>
          <div>
            <form id="RiderSubmissionForm" class="mt-4 image-submission" action="/submit-memorial" method="POST" enctype="multipart/form-data">
              <div class="uk-text-center toh-mb-18">
                <input class="uk-checkbox" type="checkbox" name="hasPillion" id="hasPillion">
                <label for="hasPillion" id="inputPillionLabel">Include Passenger</label>
              </div>
              <div class="uk-grid-large uk-child-width-expand@s" uk-grid>
                <div>
                  <label for="input-primary" id="inputPrimaryLabel">
                    <img class="primaryImagePlaceholder" data-src="/images/no_image_taken.png" alt="Click here to upload" uk-img>
                  </label>
                  <input required type="file" name="input-primary" id="input-primary" class="form-control-file border hide-me" />
                </div>
                <div>
                  <label for="input-optional" id="inputOptionalLabel">
                    <img class="optionalImagePlaceholder" data-src="/images/no_image_taken.png" alt="Click here to upload" uk-img>
                  </label>
                  <input type="file" name="input-optional" id="input-optional" class="form-control-file border hide-me" />
                </div>
              </div>
              <input type="hidden" id="MemorialID" name="MemorialID" value="<%= MemorialData[0].id %>">
              <div class="uk-text-center toh-mt-18">
                <label class="uk-form-label bonusField" for="saveSubmission">&nbsp;</label>
                <span id="buttonSpan" uk-tooltip="Primary Image Required"><button disabled class="uk-button uk-button-primary bonusField" id="saveSubmission" >Submit</button></span>
              </div>
            </form>
          </div>
        <% } %>
        <% if(User.FlagNumber && SubmissionStatus[0].Status == 0) { %>
          <div class="uk-align-center" style="width:80%">
            <p style="text-align: center">This memorial has a pending submission. If you need to correct it, please delete this submission from your <a href="/user-profile">User Profile</a> and resubmit.</p>
          </div>
        <% } %>
        <% if(User.FlagNumber && SubmissionStatus[0].Status == 1) { %>
          <div class="uk-align-center">
            <p style="text-align: center;">This memorial has already been earned.</p>
          </div>
        <% } %>
      </div>
      <div>
        <%= MemorialData[0].Name %><br/>
        <% if(MemorialData[0].Address1) { %><%= MemorialData[0].Address1 %><br/><% } %>
        <% if(MemorialData[0].Address2) { %><%= MemorialData[0].Address2 %><br/><% } %>
        <%= MemorialData[0].City %>, <%= MemorialData[0].State %><br/>
        GPS: <%= MemorialData[0].Latitude %>, <%= MemorialData[0].Longitude %><br/>
        Access: <%= MemorialData[0].Access %><br>
        <% if(MemorialData[0].URL) { %> Related Link: <a href="<%= MemorialData[0].URL %>" target="_blank"><%= MemorialData[0].URL %></a><% } %>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <script type="text/javascript" src="/js/memorial.js"></script>
</body>