<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <h4>2021 MEMORIALS</h4>
  <main>
    <% if(NotificationText) { %>
      <%- include('../partials/notice'); %>
    <% } %>
    <p>Below is a list of every Memorial in the 2021 Tour of Honor.</p>
    <!-- #region Memorial Table -->
    <table class="uk-table uk-table-striped uk-table-small" id="auxMemorialTable">
      <thead>
        <tr>
          <th>Code</th>
          <th>Category</th>
          <th>Name</th>
          <th>City</th>
          <th>State</th>
          <th>Access</th>
          <!-- <% if(User.isAdmin) { %>
            <th>Actions</th>
          <% } %> -->
        </tr>
      </thead>
      <tbody>
        <% Memorials.forEach(function(memorial) { %>
          <tr>
            <td>
              <span style="font-family: 'Source Code Pro', monospace;"><a href="/memorial/<%= memorial.Code %>"><%= memorial.Code %></a></span>
            </td>
            <td>
              <%= memorial.CategoryName %>
            </td>
            <td>
              <%= memorial.Name %>
            </td>
            <td>
              <%= memorial.City %>
            </td>
            <td>
              <%= memorial.State %>
            </td>
            <td>
              <%= memorial.Access %>
            </td>
            <!-- <% if(User.isAdmin) { %>
              <td>
                <span class="deleteBonusButton" data-uid="<%- memorial.ID %>"><i class="far fa-trash-alt"></i></span>&nbsp;
                <span class="editBonusButton" data-uid="<%- memorial.ID %>"><i class="fal fa-edit"></i></span>&nbsp;
                <span class="submitBonusButton" data-uid="<%- memorial.ID %>"><i class="fad fa-camera-alt"></i></span>
              </td>
            <% } %> -->
          </tr>
        <% }) %>
      </tbody>
    </table>
    <!-- #endregion -->
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  <script type="text/javascript" src="/js/memorials.js"></script>
</body>