<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  
  <body>
    <div class="pageWrapper">
      <% if(activeUser) { %>
        <%- include('../partials/topnavUser'); %>
      <% } else { %>
        <%- include('../partials/topnav'); %>
      <% } %>
      <main>
        <div class="uk-container uk-margin-auto">
          <h4>Rally Registration</h4>
          <div class="uk-text-center toh-mt-24">
            <ul id="registrationSwitcher" class="uk-subnav uk-subnav-pill" uk-switcher active="<%= OrderInfo.NextStepNum %>">
              <li><a href="#" id="RegStep0"><span class="registrationStepText">Step 1</span><br/>Rider Info</a></li>
              <li><a class="disabled" href="#" id="RegStep1"><span class="registrationStepText">Step 2</span><br/>Bike Info</a></li>
              <li><a class="disabled" href="#" id="RegStep2"><span class="registrationStepText">Step 3</span><br/>Passenger Info</a></li>
              <li><a class="disabled" href="#" id="RegStep3"><span class="registrationStepText">Step 4</span><br/>Charity Choice</a></li>
              <li><a class="disabled" href="#" id="RegStep4"><span class="registrationStepText">Step 5</span><br/>T-Shirts</a></li>
              <li><a class="disabled" href="#" id="RegStep5"><span class="registrationStepText">Step 6</span><br/>Payment</a></li>
              <li><a class="disabled" href="#" id="RegStep6"><span class="registrationStepText">Step 7</span><br/>Waiver</a></li>
              <li><a class="disabled" href="#" id="RegStep7"><span class="registrationStepText">Step 8</span><br/>Flag Number</a></li>
              <li><a class="disabled" href="#" id="RegStep8"><span class="registrationStepText">Step 9</span><br/>Summary</a></li>
            </ul>
    
            <ul class="uk-switcher uk-margin">
              <li>
                <%- include('../partials/regFlow/riderInfo'); %>
              </li>
              <li>
                <%- include('../partials/regFlow/bikeInfo'); %>
              </li>
              <li>
                <%- include('../partials/regFlow/passengerInfo'); %>
              </li>
              <li>
                <%- include('../partials/regFlow/charityChoice'); %>
              </li>
              <li>
                <%- include('../partials/regFlow/t-shirt'); %>
              </li>
              <li>
                <%- include('../partials/regFlow/payment'); %>
              </li>
              <li>
                <%- include('../partials/regFlow/waiver'); %>
              </li>
              <li>
                <%- include('../partials/regFlow/flagNumber'); %>
              </li>
              <li>
                <%- include('../partials/regFlow/summary'); %>
              </li>
            </ul>
          </div>
          <div class="hiddenData">
            <span id="checkoutUrl" data-checkouturl="<%= OrderInfo.CheckoutURL %>"></span>
            <span id="nextStepNum" data-nextstepnum="<%= OrderInfo.NextStepNum %>"></span>
          </div>
        </div>
      </main>
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
    </div>
    <script type="text/javascript" src="js/registration.js"></script>
  </body>
</html>