<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="pageWrapper">
    <% if(activeUser) { %>
      <%- include('../partials/topnavUser'); %>
    <% } else { %>
      <%- include('../partials/topnav'); %>
    <% } %>
    <% if(NotificationText) { %>
      <%- include('../partials/notice'); %>
    <% } %>
    <main>
      <h1>Tour of Honor Rules</h1>
      <div class="uk-container uk-align-center">
        <% if(Rules && Rules.length > 0) { %>
          <p>Found some rules!</p>
        <% } %>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
  <!-- <script type="text/javascript" src="js/rules.js"></script> -->
</body>
