<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="pageWrapper">
    <% if(activeUser) { %>
      <%- include('../partials/topnavUser'); %>
    <% } else { %>
      <%- include('../partials/topnav'); %>
    <% } %>
    <% if(NotificationText) { %>
      <%- include('../partials/notice'); %>
    <% } %>
    <main>
      <h4>Tour of Honor Rules</h4>
      
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
  <!-- <script type="text/javascript" src="js/faqs.js"></script> -->
</body>