<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="pageWrapper">
    <% if(activeUser) { %>
      <%- include('../partials/topnavUser'); %>
    <% } else { %>
      <%- include('../partials/topnav'); %>
    <% } %>
    <main>
      <h1>Scoring Dashboard</h1>
      <p>This page shows all submissions that have not been scored yet. To review submissions that have already been scored, go to the <a href="/scored">Scored Submissions</a> page.</p>
      <div class="admin-container" id='tabs'>
        <ul uk-tab>
          <li><a href="#pending">Pending Submissions</a></li>
          <li><a href="#held">Held for Review</a></li>
        </ul>

        <ul class="uk-switcher uk-margin">
          <!-- Pending Submissions -->
          <li id="pending">
            <div>
              <div class="uk-align-center uk-text-center submissionFilterButtons">
                <button class="uk-button uk-button-primary submissionFilterButton showAllSubmissions" uk-tooltip="All Memorials">All</button>
                <button class="uk-button uk-button-secondary submissionFilterButton showTOHSubmissions" uk-tooltip="State Memorials">TOH</button>
                <button class="uk-button uk-button-secondary submissionFilterButton show911Submissions" uk-tooltip="9/11">911</button>
                <button class="uk-button uk-button-secondary submissionFilterButton showDBSubmissions" uk-tooltip="Doughboys">DB</button>
                <button class="uk-button uk-button-secondary submissionFilterButton showGSFSubmissions" uk-tooltip="Gold Star Family">GSF</button>
                <button class="uk-button uk-button-secondary submissionFilterButton showHueySubmissions" uk-tooltip="Hueys">Huey</button>
                <button class="uk-button uk-button-secondary submissionFilterButton showK9Submissions" uk-tooltip="WarDogs/K9">K9</button>
                <button class="uk-button uk-button-secondary submissionFilterButton showMadonnaSubmissions" uk-tooltip="Madonna Trail">MTr</button>
                <button class="uk-button uk-button-secondary memorialFilterButton showSOLMemorials" uk-tooltip="Statue of Liberty">SOL</button>
                <button class="uk-button uk-button-secondary memorialFilterButton showCemeteryMemorials" uk-tooltip="Cemeteries">VC</button>
              </div>
            </div>
            <table class="uk-table uk-table-striped uk-table-small" id="PendingTable">
              <thead>
                <tr>
                  <th>HiddenID</th>
                  <th>StatusID</th>
                  <th>SubID</th>
                  <th>Rider</th>
                  <th>Memorial</th>
                  <th>Category</th>
                  <th>Location</th>
                  <th>Date Submitted</th>
                </tr>
              </thead>
              <tbody>
                <% PendingSubmissions.forEach(function(submission) { %>
                  <tr>
                    <td>
                      <%= submission.id %>
                    </td>
                    <td>
                      <%= submission.Status %>
                    </td>
                    <td>
                      <a href="/submission/<%= submission.id %>"><%= submission.id %></a>
                      <% if(submission.Source == 1) { %>
                        <i class="fa-light fa-square-question"></i>
                      <% } %>
                      <% if(submission.Source == 2) { %>
                        <i class="fa-brands fa-apple"></i>
                      <% } %>
                      <% if(submission.Source == 3) { %>
                        <i class="fa-brands fa-android"></i>
                      <% } %>
                      <% if(submission.Source == 4) { %>
                        <i class="fa-solid fa-browser"></i>
                      <% } %>
                      <% if(submission.Source == 5) { %>
                        <i class="fa-light fa-envelope"></i>
                      <% } %>
                      <% if(submission.Source == 6) { %>
                        <i class="fa-brands fa-usps "></i>
                      <% } %>
                    </td>
                    <td>
                      <%= submission.FlagNumber %> (<%= submission.FirstName %> <%= submission.LastName %>)&nbsp;<% if(submission.OtherRiders && submission.OtherRiders != 0) { %> <span><i class="fal fa-user-friends"></i></span> <% } %> 
                    </td>
                    <td>
                      <%= submission.Code %>
                    </td>
                    <td>
                      <%= submission.CatName %>
                    </td>
                    <td>
                      <%= submission.City %>, <%= submission.State %>
                    </td>
                    <td>
                      <%= dt.fromJSDate(submission.createdAt).setZone(TimeZone.ZoneName).toFormat('LLL d, yyyy @ h:mm a ZZZZ'); %>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </li>
          <!-- Held for Review -->
          <li id="held">
            <table class="uk-table uk-table-striped uk-table-small" id="HeldTable">
              <thead>
                <tr>
                  <th>HiddenID</th>
                  <th>StatusID</th>
                  <th>SubID</th>
                  <th>Rider</th>
                  <th>Memorial</th>
                  <th>Category</th>
                  <th>Location</th>
                  <th>Date Submitted</th>
                </tr>
              </thead>
              <tbody>
                <% PendingSubmissions.forEach(function(submission) { %>
                  <tr>
                    <td>
                      <%= submission.id %>
                    </td>
                    <td>
                      <%= submission.Status %>
                    </td>
                    <td>
                      <a href="/submission/<%= submission.id %>"><%= submission.id %></a>
                      <% if(submission.Source == 1) { %>
                        <i class="fa-light fa-square-question"></i>
                      <% } %>
                      <% if(submission.Source == 2) { %>
                        <i class="fa-brands fa-apple"></i>
                      <% } %>
                      <% if(submission.Source == 3) { %>
                        <i class="fa-brands fa-android"></i>
                      <% } %>
                      <% if(submission.Source == 4) { %>
                        <i class="fa-solid fa-browser"></i>
                      <% } %>
                      <% if(submission.Source == 5) { %>
                        <i class="fa-light fa-envelope"></i>
                      <% } %>
                      <% if(submission.Source == 6) { %>
                        <i class="fa-brands fa-usps "></i>
                      <% } %>
                    </td>
                    <td>
                      <%= submission.FlagNumber %> (<%= submission.FirstName %> <%= submission.LastName %>)&nbsp;<% if(submission.OtherRiders && submission.OtherRiders != 0) { %> <span><i class="fal fa-user-friends"></i></span> <% } %> 
                    </td>
                    <td>
                      <%= submission.Code %>
                    </td>
                    <td>
                      <%= submission.CatName %>
                    </td>
                    <td>
                      <%= submission.City %>, <%= submission.State %>
                    </td>
                    <td>
                      <%= dt.fromJSDate(submission.createdAt).setZone(TimeZone.ZoneName).toFormat('LLL d, yyyy @ h:mm a ZZZZ'); %>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </main>
    
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
  <script type="text/javascript" src="js/scoring.js"></script>
</body>