<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <h4>Scored Submissions</h4>
  <main>
    <p>This page shows all submissions that have been Approved or Rejected. To review submissions that have not been scored, go to the <a href="/scoring">Scoring Dashboard</a>.</p>
    <div>
      <div class="uk-align-center uk-text-center submissionFilterButtons">
        <button class="uk-button uk-button-primary submissionFilterButton showAllSubmissions" uk-tooltip="All Memorials">All</button>
        <button class="uk-button uk-button-secondary submissionFilterButton showTOHSubmissions" uk-tooltip="State Memorials">TOH</button>
        <button class="uk-button uk-button-secondary submissionFilterButton show911Submissions" uk-tooltip="9/11">911</button>
        <button class="uk-button uk-button-secondary submissionFilterButton showDBSubmissions" uk-tooltip="Doughboys">DB</button>
        <button class="uk-button uk-button-secondary submissionFilterButton showGSFSubmissions" uk-tooltip="Gold Star Family">GSF</button>
        <button class="uk-button uk-button-secondary submissionFilterButton showHueySubmissions" uk-tooltip="Hueys">Huey</button>
        <button class="uk-button uk-button-secondary submissionFilterButton showK9Submissions" uk-tooltip="WarDogs/K9">K9</button>
        <button class="uk-button uk-button-secondary submissionFilterButton showMadonnaSubmissions" uk-tooltip="Madonna Trail">MTr</button>
        <button class="uk-button uk-button-secondary memorialFilterButton showSOLMemorials" uk-tooltip="Statue of Liberty">SOL</button>
        <button class="uk-button uk-button-secondary memorialFilterButton showCemeteryMemorials" uk-tooltip="Cemeteries">VC</button>
      </div>
    </div>
    <table class="uk-table uk-table-striped uk-table-small" id="ScoredTable">
      <thead>
        <tr>
          <th>HiddenID</th>
          <th>Updated MS</th>
          <th>SubID</th>
          <th>Rider</th>
          <th>Memorial</th>
          <th>Category</th>
          <th>Location</th>
          <th>Date Received</th>
          <th>Status</th>
          <th>Date Updated</th>
        </tr>
      </thead>
      <tbody>
        <% Submissions.forEach(function(submission) { %>
          <% if(submission.Status > 0 && submission.Status < 3) { %> 
            <tr>
              <td>
                <%= submission.id %>
              </td>
              <td>
                <%= dt.fromJSDate(submission.updatedAt).toMillis(); %>
              </td>
              <td>
                <a href="/submission/<%= submission.id %>"><%= submission.id %></a>
              </td>
              <td>
                <%= submission.FlagNumber %> (<%= submission.FirstName %> <%= submission.LastName %>)&nbsp;<% if(submission.OtherRiders && submission.OtherRiders != 0) { %> <span><i class="fal fa-user-friends"></i></span> <% } %> 
              </td>
              <td>
                <%= submission.Code %>
              </td>
              <td>
                <%= submission.CatName %>
              </td>
              <td>
                <%= submission.City %>, <%= submission.State %>
              </td>
              <td>
                <%= dt.fromJSDate(submission.createdAt).toFormat('LLL d, yyyy @ HH:mm'); %>
              </td>
              <td>
                <% if(submission.Status == 1) { %> <span><i class="fas fa-shield-check" color="green"></i></span> <% } %> 
                <% if(submission.Status == 2) { %> <span><i class="fas fa-shield-exclamation" color="red"></i></span> <% } %> 
                &nbsp;<%= submission.StatusText %>
              </td>
              <td>
                <%= dt.fromJSDate(submission.updatedAt).toFormat('LLL d, yyyy @ HH:mm'); %>
              </td>
            </tr>
          <% } %>
        <% }) %>
      </tbody>
    </table>
  </main>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <script type="text/javascript" src="js/scored.js"></script>
</body>