<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="pageWrapper">
    <% if(activeUser) { %>
      <%- include('../partials/topnavUser'); %>
    <% } else { %>
      <%- include('../partials/topnav'); %>
    <% } %>
    <main>
      <h1>Scoring Dashboard</h1>
      <p>This page shows all submissions that have not been scored yet. To review submissions that have already been scored, go to the <a href="/scored">Scored Submissions</a> page.</p>
      <div id="userTZ" data-usertz="<%= TimeZone.ZoneName %>"></div>
      <div class="admin-container" id='tabs'>
        <ul uk-tab>
          <li><a href="#pending">Pending Submissions</a></li>
          <li><a href="#held">Held for Review</a></li>
        </ul>

        <ul class="uk-switcher uk-margin">
          <!-- Pending Submissions -->
          <li id="pending">
            <div>
              <div class="uk-align-center uk-text-center submissionFilterButtons">
                <button class="uk-button uk-button-primary submissionFilterButton showAllSubmissions" uk-tooltip="All Memorials">All</button>
                <button class="uk-button uk-button-secondary submissionFilterButton showTOHSubmissions" uk-tooltip="State Memorials">TOH</button>
                <button class="uk-button uk-button-secondary submissionFilterButton show911Submissions" uk-tooltip="9/11">911</button>
                <button class="uk-button uk-button-secondary submissionFilterButton showDBSubmissions" uk-tooltip="Doughboys">DB</button>
                <button class="uk-button uk-button-secondary submissionFilterButton showGSFSubmissions" uk-tooltip="Gold Star Family">GSF</button>
                <button class="uk-button uk-button-secondary submissionFilterButton showHueySubmissions" uk-tooltip="Hueys">Huey</button>
                <button class="uk-button uk-button-secondary submissionFilterButton showK9Submissions" uk-tooltip="WarDogs/K9">K9</button>
                <button class="uk-button uk-button-secondary submissionFilterButton showMadonnaSubmissions" uk-tooltip="Madonna Trail">MTr</button>
                <button class="uk-button uk-button-secondary memorialFilterButton showSOLMemorials" uk-tooltip="Statue of Liberty">SOL</button>
                <button class="uk-button uk-button-secondary memorialFilterButton showCemeteryMemorials" uk-tooltip="Cemeteries">VC</button>
              </div>
            </div>
            <table class="uk-table uk-table-striped uk-table-small" id="PendingTable">
              <thead>
                <tr>
                  <th>SubID</th>
                  <th>Rider</th>
                  <th>Memorial</th>
                  <th>Category</th>
                  <th>Location</th>
                  <th>Date Submitted</th>
                </tr>
              </thead>
            </table>
          </li>
          <!-- Held for Review -->
          <li id="held">
            <table class="uk-table uk-table-striped uk-table-small" id="HeldTable">
              <thead>
                <tr>
                  <th>SubID</th>
                  <th>Rider</th>
                  <th>Memorial</th>
                  <th>Category</th>
                  <th>Location</th>
                  <th>Date Submitted</th>
                </tr>
              </thead>
            </table>
          </li>
        </ul>
      </div>
    </main>
    
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
  <script type="text/javascript" src="js/scoring.js"></script>
</body>
