<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="pageWrapper">
    <% if(activeUser) { %>
      <%- include('../partials/topnavUser'); %>
    <% } else { %>
      <%- include('../partials/topnav'); %>
    <% } %>
    <main>
      <h1>Scored Submissions - Prior Year</h1>
      <p>This page shows all submissions that were Approved or Rejected in the 2024 season. To review scored submissions from this year's season, go to <a href="/scored">Scored Submissions</a>. To review submissions that have not been scored yet, go to the <a href="/scoring">Scoring Dashboard</a>.</p>
      <div id="userTZ" data-usertz="<%= TimeZone.ZoneName %>"></div>
      <table class="uk-table uk-table-striped uk-table-small toh-mt-24" id="HistoricalScoredTable">
        <thead>
          <tr>
            <th>SubID</th>
            <th>Rider</th>
            <th>Memorial</th>
            <th>Category</th>
            <th>Location</th>
            <th>Date Received</th>
            <th>Status</th>
            <th>Date Updated</th>
          </tr>
        </thead>
      </table>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
  <script type="text/javascript" src="js/scored-prior.js"></script>
</body>
