<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/topnav'); %>
  <main>
    <h5>SUBMIT <%= targetMemorial[0].Category.toUpperCase() %> <%= targetMemorial[0].Code %></h5>
    <p><%= targetMemorial[0].Name %> (<%= targetMemorial[0].City %>, <%= targetMemorial[0].State %>)</p>
    <div>
      <img class="sampleImage" src="/images/GS005.jpg">
    </div>
    <div>Image Submission Wells Here</div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>