<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <main>
    <%- include('../partials/categoryPicker'); %>
    <h5>SUBMIT <%= targetMemorial[0].Category.toUpperCase() %> <%= targetMemorial[0].Code %></h5>
    <p><%= targetMemorial[0].Name %> (<%= targetMemorial[0].City %>, <%= targetMemorial[0].State %>)</p>
    <div>
      <img class="sampleImage" src="/images/<%= targetMemorial[0].SampleImage %>">
    </div>
    <div>Image Submission Wells Here</div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <!-- Select2 for the searchable dropdown -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>