<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <main>
    <% if(NotificationText) { %>
      <%- include('../partials/notice'); %>
    <% } %>
    <p>Put user profile stuff here</p>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>