<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="pageWrapper">
    <% if(activeUser) { %>
      <%- include('../partials/topnavUser'); %>
    <% } else { %>
      <%- include('../partials/topnav'); %>
    <% } %>
    <main>
      <h1>User Profile</h1>
      <% if(NotificationText) { %>
        <%- include('../partials/notice'); %>
      <% } %>
      <h5>My Profile Info</h5>
      <form class="signup uk-grid-small uk-form-stacked" uk-grid>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="FirstName">First Name</label>
          <input class="uk-input toh-input" id="FirstName" type="text" placeholder="Firstname" value="<%= User.FirstName %>">
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="LastName">Last Name</label>
          <input class="uk-input toh-input" id="LastName" type="text" placeholder="Lastname" value="<%= User.LastName %>">
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="Email">Email</label>
          <input class="uk-input toh-input" id="Email" type="email" placeholder="someone@domain.com" value="<%= User.Email %>">
        </div>
        <div class="uk-width-2-3@s">
          <label class="uk-form-label" for="Address1">Street Address</label>
          <input class="uk-input" required id="Address1" type="text" placeholder="Street Address" value="<%= User.Address1 %>"></input>
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="CellNumber">Cell Number&nbsp;<span uk-tooltip="We only use this for important communications. We do NOT advertise via phone/text."><i class="fa-solid fa-circle-question"></i></span></label>
          <input class="uk-input toh-input" id="CellNumber" type="tel" placeholder="(XXX) XXX-XXXX" pattern=”[0-9]{3}-[0-9]{3}-[0-9]{4}” value="<%= User.CellNumber %>">
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="City">City</label>
          <input class="uk-input toh-input" id="City" type="text" placeholder="City" value="<%= User.City %>">
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="State">State</label>
          <input class="uk-input toh-input" id="State" maxlength="2" type="text" placeholder="ST" value="<%= User.State %>">
        </div>
        <div class="uk-width-1-3@s">
          <label class="uk-form-label" for="ZipCode">Zip Code</label>
          <input class="uk-input toh-input" id="ZipCode" maxlength="5" type="zipcode" placeholder="zip" value="<%= User.ZipCode %>">
        </div>
        
        <div class="uk-width-1-2@s" uk-grid>
          <div class="uk-width-1-3@s" uk-tooltip="title: This will adjust the times you see on the site; pos: bottom" >
            <label class="uk-form-label" for="TimeZone">Time Zone</label>
            <select class="uk-select toh-input" name="TimeZone" id="TimeZone">
              <option value="PDT">Pacific</option>
              <option value="MDT">Mountain</option>
              <option value="CDT">Central</option>
              <option value="EDT">Eastern</option>
            </select>
          </div>
          <div class="uk-width-1-3@s" uk-tooltip="title: To change your flag number, please contact TOH; pos: bottom" >
            <label class="uk-form-label" for="FlagNumber">Flag Number</label>
            <% if(User.FlagNumber && User.FlagNumber != 0) { %>
            <input disabled class="uk-input toh-input" id="FlagNumber" type="text" placeholder="Flag Number" value="<%= User.FlagNumber %>" >
            <% } else { %>
              <input class="uk-input toh-input" id="FlagNumber" type="text" placeholder="N/A" value="N/A">
            <% } %>
          </div>
          <div class="uk-width-1-3@s">
            <label class="uk-form-label" for="PillionFlagNumber">Passenger Flag Number</label>
            <% if(User.PillionFlagNumber && User.PillionFlagNumber != 0) { %>
              <input class="uk-input toh-input" id="PillionFlagNumber" type="text" value="<%= User.PillionFlagNumber %>">
            <% } else { %>
              <input class="uk-input toh-input" id="PillionFlagNumber" type="text" placeholder="N/A" value="N/A">
            <% } %>
          </div>
        </div>
        <div class="uk-width-1-2@s uk-text-center">
          <label class="uk-form-label" for="saveProfileEdits">&nbsp;</label>
          <button type="button" id="resetPasswordLink" class="uk-button uk-button-danger button-rounded">Reset Login Password</button>
          <button type="button" id="saveProfileEdits" class="uk-button uk-button-primary button-rounded" data-userid="<%= User.id %>">Update User Profile</button>
        </div>
      </form>
      <div class="toh-mt-24">
        <hr>
        <% if(RiderBikeInfo.length == 0) { %> 
          <h5>Bike Info</h5>
          <div class="uk-width-1-1@s uk-text-center">
            <p>You don't appear to have any bikes. Click the button below to add one.</p>
            <button type="button" id="addNewBikeBtn" class="uk-button uk-button-primary button-rounded">Add New Bike</button>
          </div>
        <% } %>
        <% if(RiderBikeInfo.length > 0) { %> 
          <h5>Bike Info<span class="uk-align-right"><button type="button" id="addNewBikeBtn" class="uk-button uk-button-primary uk-button-small button-rounded">Add New Bike</button></span></h5>
          <table class="uk-table uk-table-striped uk-table-small" id="riderBikeInfo">
            <thead>
              <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% RiderBikeInfo.forEach(function(Bike) { %>
                <tr>
                  <td>
                    <%= Bike.Year %>
                  </td>
                  <td>
                    <%= Bike.Make %>
                  </td>
                  <td>
                    <%= Bike.Model %>
                  </td>
                  <td>
                    <span class="editBikeInfoBtn clickable" uk-tooltip="Edit Bike" data-bikeid="<%- Bike.id %>"><i class="fal fa-edit fa-lg"></i></span>&nbsp;
                    <span class="deleteBikeBtn clickable" uk-tooltip="Delete Bike" data-bikeid="<%- Bike.id %>"><i class="fal fa-trash-can"></i></span>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        <% } %>
        
      </div>
      <div class="toh-mt-24">
        <hr>
        <h5>Submission History</h5>
        <table class="uk-table uk-table-striped uk-table-small" id="riderSubmissionHistory">
          <thead>
            <tr>
              <th>Code</th>
              <th>Category</th>
              <th>Status</th>
              <th>Date Submitted</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% RiderSubmissionHistory.forEach(function(riderSubmission) { %>
              <tr>
                <td>
                  <span style="font-family: 'Source Code Pro', monospace;"><a href="/memorial/<%= riderSubmission.Code %>"><%= riderSubmission.Code %></a></span>
                </td>
                <td>
                  <%= riderSubmission.Category %>
                </td>
                <td>
                  <% if(riderSubmission.StatusID == 0) { %> 
                    <span uk-tooltip="<%= riderSubmission.ScorerNotes %>"><i class="fal fa-clock"></i>&nbsp;<%= riderSubmission.Status %></span>
                  <% } %>
                  <% if(riderSubmission.StatusID == 1) { %> 
                    <span uk-tooltip="<%= riderSubmission.ScorerNotes %>"><i class="fas fa-shield-check" color="green"></i>&nbsp;<%= riderSubmission.Status %></span>
                  <% } %>
                  <% if(riderSubmission.StatusID == 2) { %> 
                    <span uk-tooltip="<%= riderSubmission.ScorerNotes %>"><i class="fas fa-shield-exclamation" color="red"></i>&nbsp;<%= riderSubmission.Status %></span>
                  <% } %>
                  <% if(riderSubmission.StatusID == 3) { %> 
                    <span uk-tooltip="<%= riderSubmission.ScorerNotes %>"><i class="fas fa-pause" color="orange"></i>&nbsp;<%= riderSubmission.Status %></span>
                  <% } %>
                  <% if(riderSubmission.ScorerNotes) { %>
                    <span uk-tooltip="<%= riderSubmission.ScorerNotes %>">&nbsp;<i class="fal fa-comment-alt-lines"></i></span>
                  <% } %>
                </td>
                <td>
                  <%= dt.fromJSDate(riderSubmission.createdAt).setZone(TimeZone.ZoneName).toFormat('LLL d, yyyy @ h:mm a ZZZZ'); %>
                </td>
                <td>
                  <% if(riderSubmission.StatusID == 0) { %> 
                    <span class="deleteSubmissionButton clickable" uk-tooltip="Delete Submission" data-uid="<%- riderSubmission.id %>"><i class="fal fa-trash-can"></i></span>&nbsp;
                  <% } %>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <!-- This is the Add New Bike Info modal -->
      <div id="bikeInfoAddModal" class="modal">
        <%- include('../partials/bikeInfoAddModal'); %>
      </div>
      <!-- This is the Edit Bike Info modal -->
      <div id="bikeInfoEditModal" class="modal">
        <%- include('../partials/bikeInfoEditModal'); %>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
  <script>
    $(document).ready(function() {
      console.log("<%= User.TimeZone %>");
      for (var option of document.getElementById("TimeZone").options) {
        if (option.value === "<%= User.TimeZone %>")
          {
            option.selected = true;
            return;
          }
      }
    })
  </script>
  <script type="text/javascript" src="/js/user-profile.js"></script>
</body>