<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../partials/topnav'); %>
  <% } %>
  <main>
    <h4>User Profile</h4>
    <% if(NotificationText) { %>
      <%- include('../partials/notice'); %>
    <% } %>
    <form class="signup uk-grid-small uk-form-stacked" uk-grid>
      <div class="uk-width-1-2@s">
        <label class="uk-form-label" for="FirstName">First Name</label>
        <input class="uk-input" id="FirstName" type="text" placeholder="Firstname" value="<%= User.FirstName %>">
      </div>
      <div class="uk-width-1-2@s">
        <label class="uk-form-label" for="LastName">Last Name</label>
        <input class="uk-input" id="LastName" type="text" placeholder="Lastname" value="<%= User.LastName %>">
      </div>
      <div class="uk-width-1-2@s">
        <label class="uk-form-label" for="UserName">Username</label>
        <input class="uk-input" id="UserName" type="text" placeholder="Username" value="<%= User.UserName %>">
      </div>
      <div class="uk-width-1-2@s">
        <label class="uk-form-label" for="FlagNumber">Flag Number</label>
        <input class="uk-input" id="FlagNumber" type="text" placeholder="Flag Number" value="<%= User.FlagNumber %>">
      </div>
      <div class="uk-width-1-2@s">
        <label class="uk-form-label" for="Email">Email</label>
        <input class="uk-input" id="Email" type="email" placeholder="someone@domain.com" value="<%= User.Email %>">
      </div>
      <div class="uk-width-1-2@s">
        <label class="uk-form-label" for="ZipCode">ZipCode</label>
        <input class="uk-input" id="ZipCode" type="zipcode" placeholder="zip" value="<%= User.ZipCode %>">
      </div>
      <div class="uk-width-1-2@s">
        <label class="uk-form-label" for="isAdmin">isAdmin?</label>
        <% if(User.isAdmin) { %>
          <label><input class="uk-checkbox" id="isAdmin" type="checkbox" checked value="1"> Admin</label>
        <% } else { %>
          <label><input class="uk-checkbox" id="isAdmin" type="checkbox" value="1"> Admin</label>
        <% } %>
      </div>
      <div class="uk-width-1-2@s"><button type="button" id="saveProfileEdits" class="uk-button uk-button-primary" data-userid="<%= User.id %>">Update User Profile</button></div>
    </form>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <script type="text/javascript" src="/js/user-profile.js"></script>
</body>