<!DOCTYPE html>
<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="pageWrapper">
    <% if(activeUser) { %>
      <%- include('../partials/topnavUser'); %>
    <% } else { %>
      <%- include('../partials/topnav'); %>
    <% } %>
    <% if(NotificationText) { %>
      <%- include('../partials/notice'); %>
    <% } %>
    <main>
      <h4>Waiver Check</h4>
      <div>
        <input id="UserID" type="hidden" value="<%= UserID %>">
        <!-- <%= WaiverID.WaiverID %> -->
        <p>Thank you for signing waiver. This page will auto advance once we validate your waiver (generally within 15 seconds).</p>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
  <script type="text/javascript" src="/js/waiver-check.js"></script>
</body>