<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <div class="pageWrapper">
    <% if(activeUser) { %>
      <%- include('../../partials/topnavUser'); %>
    <% } else { %>
      <%- include('../../partials/topnav'); %>
    <% } %>
    <main>
      <a href="/admin" class="no-link-underline"><button type="button" class="uk-button uk-button-link backToAdminBtn"><i class="fa-solid fa-arrow-left"></i> Back to Admin Dashboard</button></a>
      <h1>Registration Manager</h1>
      <% if(NotificationText) { %>
        <%- include('../../partials/notice'); %>
      <% } %>
      <div>&nbsp;</div>
      <table class="uk-table uk-table-striped uk-table-small" id="ordersTable">
        <thead>
          <tr>
            <th>OrderID</th>
            <th>Order Number</th>
            <th>Next Step</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rider Flag #</th>
            <th>Rider T-Shirt</th>
            <th>Passenger Name</th>
            <th>Passenger Flag #</th>
            <th>Passenger Shirt</th>
            <th>Charity Name</th>
          </tr>
        </thead>
      </table>
    </main>
    <footer>
      <%- include('../../partials/footer'); %>
    </footer>
  </div>
  <script type="text/javascript" src="/js/orders.js"></script>
</body>
