<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <div class="pageWrapper">
    <% if(activeUser) { %>
      <%- include('../../partials/topnavUser'); %>
    <% } else { %>
      <%- include('../../partials/topnav'); %>
    <% } %>
    <main>
      <a href="/admin" class="no-link-underline"><button type="button" class="uk-button uk-button-link backToAdminBtn"><i class="fa-solid fa-arrow-left"></i> Back to Admin Dashboard</button></a>
      <h1>Site Config</h1>
      <% if(NotificationText) { %>
        <%- include('../../partials/notice'); %>
      <% } %>
      <p>Content Goes Here</p>
    </main>
    <footer>
      <%- include('../../partials/footer'); %>
    </footer>
  </div>
  <script type="text/javascript" src="/js/site-config.js"></script>
</body>
