<head>
  <%- include('../../partials/head'); %>
</head>

<body>
  <% if(activeUser) { %>
    <%- include('../../partials/topnavUser'); %>
  <% } else { %>
    <%- include('../../partials/topnav'); %>
  <% } %>
  <main>
    <a href="/admin" class="no-link-underline"><button type="button" class="uk-button uk-button-link backToAdminBtn"><i class="fas fa-arrow-left"></i> Back to Admin Dashboard</button></a>
    <h4>USER MANAGEMENT</h4>
    <div class="admin-container">
      <ul uk-tab>
        <li><a href="#">Users</a></li>
        <li><a href="#">Rider Registration</a></li>
        <!-- <li><a href="#">Sponsors</a></li> -->
      </ul>

      <ul class="uk-switcher uk-margin">
        <!-- Users Tab -->
        <li>
          <h5>USERS</h5>
          <table class="uk-table uk-table-striped uk-table-small" id="usersTable">
            <thead>
              <tr>
                <th>Flag #</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% Users.forEach(function(user) { %>
                <tr>
                  <td>
                    <% if(user.FlagNumber > 0) { %>
                      <%= user.FlagNumber %>
                    <% } %>
                  </td>
                  <td>
                    <%= user.FirstName %>
                  </td>
                  <td>
                    <%= user.LastName %>
                  </td>
                  <td>
                    <%= user.Email %>
                  </td>
                  <td>
                    <% if(user.isAdmin) { %>
                      Admin
                    <% } else { %>
                      User
                    <% } %>
                  </td>
                  <td>
                    <span class="deleteUserButton" data-uid="<%- user.id %>"><i class="far fa-trash-alt"></i></span>&nbsp;
                    <span class="editUserButton" data-uid="<%- user.id %>"><i class="fal fa-edit"></i></span>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </li>
        <!-- Rider Registration -->
        <li>
          <h5>RIDER REGISTRATION</h5>
          <p>Use the below form to add a rider to the system and send out the welcome email.</p>
          <form class="signup uk-grid-small uk-form-stacked" uk-grid>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label" for="FirstName">First Name</label>
              <input class="uk-input" id="FirstName" type="text" placeholder="First Name">
            </div>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label" for="LastName">Last Name</label>
              <input class="uk-input" id="LastName" type="text" placeholder="Last Name">
            </div>
            <div class="uk-width-1-1@s">
              <label class="uk-form-label" for="Email">Email</label>
              <input class="uk-input" id="Email" type="email" placeholder="someone@domain.com">
            </div>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label" for="FlagNum">Flag Number</label>
              <input class="uk-input" id="FlagNum" type="FlagNum" placeholder="###">
            </div>
            <div class="uk-width-1-2@s">
              <label class="uk-form-label" for="ShirtSize">Shirt Size</label>
              <input class="uk-input" id="ShirtSize" type="text" placeholder="XL">
            </div>
            <!-- <div class="uk-width-1-3@s">
              <label class="uk-form-label" for="LastName">Last Name</label>
              <input class="uk-input" id="LastName" type="text" placeholder="Last Name">
            </div> -->
            <!-- <div class="uk-width-1-2@s">&nbsp;</div> -->
            <div class="uk-width-1-1@s uk-text-center uk-align-center"><button type="button" id="createUserButton" class="uk-button uk-button-primary">Send Welcome Email</button></div>
          </form>
        </li>
        <!-- Sponsor Tab -->
        <li>
          <h5>SPONSORS</h5>
          <table class="uk-table uk-table-striped uk-table-small" id="sponsorsTable">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>States</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% sponsorData.forEach(function(sponsor) { %>
                <tr>
                  <td>
                    <%= sponsor.FirstName %>
                  </td>
                  <td>
                    <%= sponsor.LastName %>
                  </td>
                  <td>
                    <%= sponsor.States %>
                  </td>
                  <td>
                    <span class="deleteSponsorButton" data-uid="<%- sponsorData.ID %>"><i class="far fa-trash-alt"></i></span>&nbsp;
                    <span class="editSponsorButton" data-uid="<%- sponsorData.ID %>"><i class="fal fa-edit"></i></span>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
    <!-- This is the user edit modal -->
    <div id="userDetailEditModal" class="modal">
      <%- include('../../partials/userDetailEditor'); %>
    </div>
  </main>
  <footer>
    <%- include('../../partials/footer'); %>
  </footer>

  <script type="text/javascript" src="/js/user-management.js"></script>
</body>